
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #FFF0AA;
}

.butt {
    width: 70px;
    height: auto;
    position: inherit;
    border-radius: 15px;
    cursor: pointer;
    margin: 0;
    font: inherit;
    color: inherit;
}

input {
    font: inherit;
    color: inherit;
}

button {
    cursor: pointer;
    font: inherit;
    color: inherit;
    width: 300px;
    margin: 5px;
    height: auto;
    position: inherit;
    font-size: 2em;
    border-radius: 15px;
}

.filterinput {
    float: left;
    margin-right: 15px;
}

button:enabled, .butt:enabled {
    background-color: #B0E57C;
    border-color: #C0E58C;
    color: #8a6d3b;
}

button:hover, .butt:hover {
    background-color: #5cb85c;
    border-color: limegreen;
    color: saddlebrown;
}

button:disabled, .butt:disabled {
    cursor: default;
    background-color: #AAD8AA;
    color: gray;
    border-color: darkseagreen;
}
p {
    margin: 0 0 10px;
}

body {
    margin: 0 0 0 0;
}
.container {
    max-width: 100%;
    border-radius: 6px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5em;
    text-align: center;
    color: saddlebrown;
    display: table-cell;
}

.scores {
    display: table-cell;
}

/*for mobile devices*/
@media (max-width: 720px) {
    .scores {
        display: none;
    }
    .menu {
        display: none;
    }
}

.dot {
    display: inline-block;
    padding: 7px 7px 7px 7px;
    background-color: #000;
    border-radius: 20px;
}

.dot.clean {
    background-color: #56BAEC;
}

.dice {
    display: inline-block;
    padding: 9px 7px 7px 9px;
    font-size: 12px;
    line-height: 1;
    background-color: #56BAEC;
    border-radius: 10px;
}

.score > span {
    font-weight: bold;
}

.bubble {
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
    margin-top: 5px;
    width: 150px;
    height: 30px;
    padding: 0;
    background: #FFF8DC;
    border-radius: 10px;
}

.bubble:after {
    content: '';
    position: absolute;
    display: inline-block;
    border-style: solid;
    border-width: 15px 20px 0;
    border-color: #FFF8DC transparent;
    width: 0;
    margin-left: -20px;
    bottom: -15px;
    left: 70%;
}

.pig {
    display: inline-block;
    position: relative;
    margin-left: 70px;
    margin-right: 20px;
    padding: 3px 3px 3px 5px;
    font-size: 12px;
    line-height: 1;
    border-radius: 40px;
    background-color: #DEADEC;
}

.pig > .dot.eye {
    padding: 2px 2px 2px 2px;
    background-color: #000;

}
.pig > .dot {
    background-color: #e277ec;
    padding: 5px 5px 5px 8px;
    margin-right: 5px;
    border-radius: 20px;
}
.pig > .dot.clean {
    padding: 0 0 0 0;
}

.menu {
    max-width: 100%;
    text-align: center;
    border-radius: 6px;
    margin-right: auto;
    margin-left: auto;
    display: table;
}

.menuitem {
    width: 150px;
}
#piggame, #pvpgame, #scorespage {
    transition-property: opacity, height, visibility;
    transition-duration: 400ms;
    transition-timing-function: ease;
}

.noshow {
    visibility: collapse;
    opacity: 0;
    height: 0;
}

#you, #pig {
    display: table-cell;
    visibility: hidden;
    padding: 20px 20px 20px 20px;
}


@media (min-width: 721px) {

    .butt {
        width: 105px;
    }
    .dot {
        padding: 11px 11px 11px 11px;
        border-radius: 40px;
    }
    .dice {
        padding: 14px 11px 11px 14px;
        font-size: 18px;
        line-height: 1;
        background-color: #56BAEC;
        border-radius: 15px;
    }

    button {
        width: 400px;
        margin: 8px;
        height: auto;
        position: inherit;
        font-size: 2.5em;
        border-radius: 23px;
    }

    .pig {

        margin-left: 45px;
        margin-right: 20px;
        padding: 3px 3px 3px 5px;
        font-size: 18px;
        line-height: 1;
        border-radius: 40px;
        background-color: #DEADEC;
    }

    .pig > .dot.eye {
        padding: 4px 4px 4px 4px;
        background-color: #000;
        border-radius: 30px;
    }

    .pig > .dot {
        background-color: #e277ec;
        padding: 8px 8px 8px 12px;
        margin-right: 8px;
        border-radius: 30px;

    }

    .pig > .dot.clean {
        padding: 0 0 0 0;
    }
}

@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
    position: relative;
    top: 3px;
    display: inline-block;
    font-family: 'Glyphicons Halflings',serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    cursor: pointer;
}

.arrow-up:before {
    content: "\e093";
}
.arrow-down:before {
    content: "\e094";
}

.inactive {
    color: darkseagreen;
}
.active {
    color: #56BAEC;
}

.table-cell {
    display: table-cell;
}

table {
    border-collapse: separate;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 50px auto;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

thead {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

thead th {
    font-size: 1.6em;
    font-weight: 400;
    color: #b9491b;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    text-align: left;
    padding: 20px;
    background-color: #EECC99;
    border-top: 1px solid #BBAA77;
}
thead th:first-child {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}
thead th:last-child {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

.tbody-tr-td {
    font-weight: 400;
    font-size: 1.4em;
    padding: 20px 20px 20px 20px;
    /*background: #fff1b4;*/
    border-bottom: 1px solid #b1aa6d;
}

.tbody-tr-2n {
    color: #b9883e;
    background: #fff1b4;
    opacity: 0.5;
}
.tbody-tr {
    color: #b9883e;
    background: #fceda7;
    opacity: 0.5;
}

.tbody-tr-last-td {
    border-bottom: none;
}
.tbody-tr-last-td-first {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.tbody-tr-last-td-last {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tbody-tr:hover {
    text-shadow: none;
    color: saddlebrown;
    opacity: 1;
}

.tbody-tr-2n:hover {
    text-shadow: none;
    opacity: 1;
    color: saddlebrown;
}

.error-row {
    text-align: center;
    width: 100%;
    color: saddlebrown;
    font-size: 1.5em;
}